html, body {
  height: 100%;
  width: 100%;
  background-color:#5EC2B7;
}
#content {
    width: 80%;
    padding: 20px;
    margin:5px 10px 20px 30px;
    background-color:#B9C6AE;
    font-family:verdana;
    box-shadow: 5px 10px #888888;
}

#spacing {
    height: 10%;

background-color:black
}